@font-face {
  font-family: "JetBrainsMono";
  src: url("assets/JetBrainsMono.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "JetBrainsMono";
  font-size: 20px;
  background-color: #1f1f1f;
  overflow: hidden;
}

h1 {
  color: #fefffa;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -40px;
}

nav {
  display: inline-block;
  color: #999999;
  font-size: 20px;
  margin: 0 auto;
}

ul {
  display: table-cell;
  text-align: center;
  padding: 10px 25px;
  list-style: none;
  border-right: 1px solid #232328;
  transition: 0.8s;
  cursor: default;
}

ul:last-of-type {
  border-right: none;
}

li {
  margin: 10px 0;
}

ul > li:first-of-type {
  padding-top: 5px;
}

ul > li > a {
  text-decoration: none;
  color: #858585;
  transition: color 0.8s;
}

ul > li > a:hover {
  color: white;
}

ul.blue:hover {
  color: #0972d6;
}

ul.red:hover {
  color: #ed3434;
}

ul.yellow:hover {
  color: #edd934;
}

ul.green:hover {
  color: #4fae0f;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
  cursor: default;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #1b1b1b;
  border: 10px solid #1b1b1b;
  border-radius: 10px;
}

.mySlides {
  position: absolute;
  opacity: 0;
}

#data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
}

#slideshow {
  width: 300px;
  height: 600px;
  background: #1b1b1b center / cover no-repeat;
}

#slideshow img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}
